<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Muxi_k">
    {block name="meta"}
    <meta name="description" content="{$web.description}">
    <meta name="keywords" content="{$web.keyword}">
    {/block}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
          rel="stylesheet">

    <title>{block name="title"}{$web.name} - 念念不忘，必有回响 {/block} - Muxi_k's Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="__INDEX__/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="__INDEX__/assets/css/fontawesome.css">
    <link rel="stylesheet" href="__INDEX__/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="__INDEX__/assets/css/owl.css">


    {block name="style"}
    {/block}
    <link rel="stylesheet" href="__INDEX__/404/style.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><h2>{$web.title}<em></em></h2></a>
            <span class="web-description" id="web-description">我想和你一样，不顾那些所以···</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    {foreach $category as $k=>$vo}
                    {if $vo.pid eq 0}
                    {if !empty($vo.scategory[0])}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{$vo.name}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            {foreach $vo.scategory as $key=>$v}
                            {if empty($v.link)}
                            <a class="dropdown-item {$key + 1 < count($vo.scategory) ? 'line':'a'  }"
                               href="/category/{$v.page}">{$v.name}</a>
                            {else}
                            <a class="dropdown-item {$key + 1 < count($vo.scategory) ? 'line':'a'  }" href="{$v.link}">{$v.name}</a>
                            {/if}
                            {/foreach}
                        </div>
                    </li>
                    {else}
                    <li class="nav-item">
                        {if empty($vo.link)}
                        <a class="nav-link" href="/category/{$vo.page}">{$vo.name}</a>
                        {else}
                        <a class="nav-link" href="{$vo.link}">{$vo.name}</a>
                        {/if}
                    </li>
                    {/if}
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
        </div>
    </div>
</div>
<!-- Banner Ends Here -->
{block name="content"}
{/block}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    {foreach $connect as $k=>$vo}
                    <li><a href="{$vo.link}">{$vo.title}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>{$web.copyright}</p>
                </div>
                <p id="hitokoto"><a href="#" id="hitokoto_text">^_^ 获取中...</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<!--<script src="__INDEX__/vendor/jquery/jquery.min.js"></script>-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="__INDEX__/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="__INDEX__/assets/js/custom.js"></script>
<script src="__INDEX__/assets/js/owl.js"></script>
<script src="__INDEX__/assets/js/slick.js"></script>
<script src="__INDEX__/assets/js/isotope.js"></script>
<script src="__INDEX__/assets/js/accordions.js"></script>



<script type="text/javascript">

    // 一言
    var xhr = new XMLHttpRequest();
    xhr.open('get', 'https://v1.hitokoto.cn');
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            var data = JSON.parse(xhr.responseText);
            var hitokoto = document.getElementById('hitokoto_text');
            hitokoto.href = 'https://hitokoto.cn/?uuid=' + data.uuid
            hitokoto.innerText = data.hitokoto;
        }
    }
    xhr.send();


    // Do you like me?
    if (sessionStorage.getItem('like') === 'true') {
        $(".like-me").addClass('active')

    }
    $("#like").click(function () {
        if (sessionStorage.getItem('like') !== 'true') {
            sessionStorage.setItem('like', 'true')
            $count = parseInt($("#like-count").text()) + 1
            $("#like-count").text($count)
            $(".like-me").addClass('active')
            $.post('/muxik/like', {state: true})
        }
    });
</script>

<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }

</script>
{block name="script"} {/block}
</body>
</html>
