/* init */
*,
html,
body {
    padding: 0;
    margin: 0;
    color: #1c1e1f !important;
    font-family: Hack, serif;
    font-weight: 500;
}

/* login */

#loin {
    background-color: white;
}

.login {

    padding: 5vh;
    background-color: white;
    width: 440px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-checkbox-title{
    position: absolute; left: 1.8em; font-size: .82em;
}

.login h2 {
    text-align: center;
}


/* left */

#drawer {
    background: white;
    height: 100vh;
    border-right: #ccc solid 1px;
}

#drawer > h1 {
    text-align: center;
    font-family: "Hack", sans-serif;
}


/* right */

.right-main {
    padding-top: 1.3em;
}

.mdui-card-primary {
    padding: 10px;
}

.border-1 {
    border: #dedede solid 1px;
    padding: 1px;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}

.flex-layout{
    display: flex;
}

.flex-right{
    justify-content: flex-end;
}

.layui-btn{
    background: white !important;
}

.layui-form-select dl dd.layui-this{
    background: white !important;
}

.card-box {
    text-align: center;
    line-height: 3em;
    display: inline-block;
    padding: 10px;
    margin: 1rem;
    width: 20%;

}

.card-box p{
    font-size: .5rem;
}


.bottom{
    padding: 1em;
    text-align: center;
}

/*.mdui-card {*/
/*    box-shadow: none;*/
/*    margin: 1em 0;*/
/*}*/