
## #关于此博客

<br>
很开心你能发现我，这是我的博客不定期更新文章哦


关于我博客的一些信息

<img src="/static/upload/20210104/e3725d59b6649d14f18ee1bbd6f5011f.jpeg" style="zoom: 25%;">

<br>

博客：这套博客源码是我自己用PHP写的，并且我把他开源了！！！

开源地址: https://github.com/muxik/PureBlog


域名: muxik.top 2020年十二月购入

服务器: 在cloud.cn 买了一年

以后也会继续续费的

所以 不用担心Muxi_k会突然消失哦(๑•̀ㅂ•́)و✧

<br>


## #友链申请


**申请前请先查看注意事项！**

**然后按照一下格式在@[友人](/link.html)页面评论**

<br>

> 名称: Muxi_k's Blog
> 网站: http://muxik.top
> 描述: 念念不忘, 必有回响
> 头像: https://gravatar.loli.net/avatar/5353445e421ab8cd79bf0152823056ee

<br>

- 注意事项
    - 博客运行正常
    - 申请之前请先加我为友链
    - 不接受违反相关法律的网站
    - 仅接受生活学习记录类的个人博客


<br>

## #关于我


我是一个零零后哦，想不到吧!


生日呢是在7月， 具体就不说啦！~~以后再告诉你们吧!~~


**爱好的话**

有很多呀，但是好多都东西都没有去做! ~~可能是时间太少~~


<br>

- 编程

<div class="inden-3">
    很小的时候就对黑客感兴趣，16年的时候去各种论坛学习~~黑客技术~~

    就是一些脚本的用法，像啊D，明小子，御剑之类的那种后来不知

    什么时候遇到了一个~~道上的~~大佬，他告诉我想学黑客技术要先掌握

    好编程。


    后来我就走上了编程的道路，把黑客什么的忘的一干二净，我最开始学的是 C ，那

    个时候去爱奇艺找的教程视频都看的一知半懂，最后干脆放弃了


    后来又去学了Python 终于看的懂一点了，然后我买了本Python的书，开始学了起

    来，学着书里的小例子，很感兴趣！


    18年年末我搭建了一个网站:~~muxii.top~~ 当时服务器带着我的数据跑路了，域名

    也就没在续费了，有点小遗憾吧，但是呢也从搭建网站的过程中学到了很

    多东西，前端后端都有，是一次不错的经历


    再后来社团要做一个招新系统，当时我正在学PHP就帮社团做了一个，也就是CURD

    和前端的一些页面当时用了一些前端框架，bootstrap, layui,很快就写好了。算是第

    一次帮别人写东西吧
</div>

<br>

- GNU/Linux

<div class="inden-3">
    很早之前就接触过一些发行版，kali,ubuntu。

    开始正式接触的时候是有一次使用php做开发的时候，遇到了一些环境依赖的问题！是Windows的造成的结果。

    我就果断换了个Fedora问题立马就解决了，当时真的是太开心了。

    再后来大概用了一段时间的Windows， 因为当时要用一些Adobe的东西当时就装了双系统。

    后来windows又出问题了，就把两个系统都格了···

    看一个B站up@TheCW的视频就换了Manjaro,使用期间又换了Deepin,

    Ubuntu,opensuse,最后定居在了Arch 现在已经用了快一年半了，体验很不错

    很喜欢Linux的哲学以及高度自由的操作和一切皆文件的哲学
</div>

<br>

- 画画

在很久很久以前曾跟随杨世相老师学过一段时间的水墨画，虽然

时间很短，但是也学到了很多东西！在这里感谢杨老师。

<br>

- 吉他
<div class="inden-3">
    一直很喜欢宋胖子就跟室友学了吉他，和一点乐理，弹的很烂，就不多提了
</div>

<br>
- 番剧

    - [罗小黑战记](https://www.bilibili.com/bangumi/media/md1733)
    - [一人之下](https://www.bilibili.com/bangumi/media/md5050/)
    - [Re：从零开始的异世界生活](https://www.bilibili.com/bangumi/media/md28224394/)
    - [ReLife](https://www.bilibili.com/bangumi/media/md28229193/)


<div class="inden-3">
    老二次了，嘿嘿。。。给你们推荐几个我喜欢的吧
</div>
