

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>主页 -MuxAdmin</title>
    <link rel="stylesheet" href="/static/common/mdui/css/mdui.css">
    <link rel="stylesheet" href="/static/admin/css/main.css">
    <link rel="stylesheet" href="/static/common/layui/css/layui.css">
    <script src="/static/common/mdui/js/mdui.js"></script>


</head>
<body class="mdui-drawer-body-left">

<div class="mdui-container-fluid">

    <!-- 左侧菜单 开始 -->
    <div class="mdui-drawer" id="drawer">
        <h1 class="logo">MuxAdmin</h1>
        <ul class="mdui-list" mdui-collapse="{accordion: true}">
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <div class="mdui-list-item-content"><a href="/">Home</a></div>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                    <div class="mdui-list-item-content">用户管理</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="/admin/user">
                        <li class="mdui-list-item mdui-ripple">用户列表</li>
                    </a>
                    <a href="/admin/user/create">
                        <li class="mdui-list-item mdui-ripple">添加用户</li>
                    </a>
                </ul>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">&#xe335;</i>
                    <div class="mdui-list-item-content">分类管理</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="/admin/cate">
                        <li class="mdui-list-item mdui-ripple">分类列表</li>
                    </a>
                    <a href="/admin/cate/create">
                        <li class="mdui-list-item mdui-ripple">添加分类</li>
                    </a>
                </ul>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">&#xe02f;</i>

                    <div class="mdui-list-item-content">文章管理</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="/admin/article">
                        <li class="mdui-list-item mdui-ripple">文章列表</li>
                    </a>
                    <a href="/admin/article/create">
                        <li class="mdui-list-item mdui-ripple">添加文章</li>
                    </a>
                </ul>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">&#xe8b8;</i>

                    <div class="mdui-list-item-content">系统设置</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="/admin/web">
                        <li class="mdui-list-item mdui-ripple">网站设置</li>
                    </a>
                    <a href="web_about.html">
                        <li class="mdui-list-item mdui-ripple">关于信息</li>
                    </a>
                </ul>
            </li>
        </ul>
    </div>
    <!-- 左侧菜单 结束-->

    <div class="mdui-container-fluid">
        <!-- 右侧头部 开始 -->
        <div class="right-header">
            <div class="mdui-toolbar mdui-color-theme">
                <button id="toggle" class="mdui-ripple mdui-btn mdui-btn-icon mdui-m-a-1"><i
                        class="mdui-icon material-icons">menu</i>
                </button>
                <div class="mdui-toolbar-spacer"></div>
                <a href="javascript:location.reload();" class="mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons">refresh</i></a>

                <a href="javascript:location.href='/login.html'" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe879;</i></a>
            </div>
            <div class="mdui-divider"></div>
        </div>
        <!-- 右侧头部 结束 -->

        <!-- 左侧内容 开始 -->
        {block name="main"}

        {/block}
        <!-- 左侧内容 结束 -->

        <!-- 左侧底部 开始 -->
        <div class="mdui-col-xs-12">
            <div class="bottom">
                Copyright © 2020.Company MuxAdmin All rights reserved.
            </div>
        </div>
        <!-- 左侧底部 结束 -->
    </div>


</div>

<script src="/static/common/layui/layui.js"></script>
<script src="/static/common/jquery-3.3.1.min.js"></script>
<!--<script src="/static/common/fixedScroll.js"></script>-->
<script>
    // 左侧状态栏的关闭和打开
    let inst = new mdui.Drawer('#drawer');

    $('#toggle').click(() => {
        inst.toggle();
    })
</script>

{block name="script"}{/block}
</body>
</html>
