{extend name="layout/base"}
{block name="main"}
<div class="left">
    <ul class="cl">
        <!--顶级分类-->
        <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">
            <a href="javascript:;" :class="{active:vo.active}" @click="onActive(index)">
                <i class="layui-icon" v-html="vo.icon"></i>
                <span v-text="vo.name"></span>
                <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i> <i v-show="vo.active"
                                                                                      class="layui-icon active">&#xe623;</i>
            </a>
            <!--子级分类-->
            <div v-for="vo2,index2 in vo.list">
                <a href="javascript:;" :class="{active:vo2.active}" @click="onActive(index,index2)"
                   v-text="vo2.name"></a>
                <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>
            </div>
        </li>
    </ul>
</div>
<!--右侧-->
<div class="right">


    <div class="layui-row">
        <div class="layui-col-lg8">
            <h2>管理员列表</h2>
        </div>

        <div class="layui-col-lg4" style="text-align: right">

            <div class="layui-input-inline" style="width: 300px">
                <input type="text" name="k" value="" id="keyword" placeholder="用户名" class="layui-input key">
            </div>
            <button type="button" class="layui-btn sou" onclick="location.href = '/admin/user?username=' + document.getElementById('keyword').value">搜索</button>
            <button type="button" class="layui-btn sou" onclick="location.href = '/admin/user'">刷新</button>
        </div>
    </div>

    <table class="layui-table layui-form">

        <thead>
        <tr>
            <th><a href="?/admin/user/index/order/uid.html">UID</a></th>
            <th>用户名</th>
            <th>超级管理员</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $admins as $key=>$vo }
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.username}</td>
            <td>{if $vo.super eq 1} 是 {else /} 否 {/if}</td>
            <td>
                <input type="checkbox" lay-filter="state"  lay-text="正常|封禁" name="switch" {if $vo.status eq 1/} checked {else/} disabled {/if}
                       lay-skin="switch">
            </td>
            <td>{$vo.create_time}</td>
            <td><a href="?/admin/user/update/uid/36567.html">修改</a></td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    <div class="page">
        {$admins|raw}
    </div>


</div>
{/block}