<!doctype html>

<html>
<head>
    <title>404</title>
    <meta charset="utf-8">
    <link href="__INDEX__/404/404.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="fullScreen" id="fullScreen">
<!--    <a href="#" class="logo"><img src="__INDEX__/404/homepage-logo.png"></a>-->
    <img class="rotating" src="__INDEX__/404/spaceman.svg" />
    <div class="pagenotfound-text">
        <h1>404 Not Found </h1>
        <h2><a href="/">回到主页</a></h2>
    </div>
    <canvas id="canvas2d"></canvas>
</div>
<script type="text/javascript" src="__INDEX__/404/404.js"></script>

</body>
</html>