{extend name="layout/base"}
{block name="content"}
        <div class="masonry-wrap">

            <div class="masonry">

                <div class="grid-sizer"></div>
                {foreach $articles as $key=>$vo}
                <article class="masonry__brick entry format-standard animate-this">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{$vo.pic}"
                                 srcset="{$vo.pic} 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <h2 class="entry__title"><a href="/index/article/{$vo.id}">{$vo.title}</a></h2>
                            <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="#">{$vo.tag}</a>
                                    </span>
                                <span class="entry__meta-date">
                                        <a href="single-standard.html">{$vo.create_time}</a>
                                    </span>
                            </div>

                        </div>
                        <div class="entry__excerpt">
                            <p id="text">
                                {$vo.desc}
                            </p>
                        </div>
                    </div>

                </article>
                {/foreach}
            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

        <div class="row">
            <div class="column large-full">
                <nav class="pgn">
                    <ul>

                        <li><a class="pgn__prev" href="/?page={$page.current -1}">Prev</a> 上一页</li>
                        <li>--|--</li>
                        <li> 下一页<a class="pgn__next" href="/?page={$page.last}">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>

{/block}
