{extend name="base:template"}

{block name="meta"}
<meta name="description" content="关于Muxi_k">
<meta name="keywords" content="muxi,muxik,muxi_k,muxik关于">
{/block}

{block name="title"}关于{/block}

{block name="content"}
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="down-content">
                                    <div class="content-view " id="content-view">
                                        <textarea id="append"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {include file="base:comment" name="page_id" value="1" comment="comment"}
                </div>
            </div>
        </div>
    </div>
</section>
<div id="source" style="display: none"> {include file="source/about"}</div>
{/block}

{block name="script"}

<script src="__ADMIN__/lib/editor/lib/marked.min.js"></script>
<script src="__ADMIN__/lib/editor/lib/prettify.min.js"></script>

<script src="__ADMIN__/lib/editor/lib/raphael.min.js"></script>
<script src="__ADMIN__/lib/editor/lib/underscore.min.js"></script>
<script src="__ADMIN__/lib/editor/lib/sequence-diagram.min.js"></script>
<script src="__ADMIN__/lib/editor/lib/flowchart.min.js"></script>
<script src="__ADMIN__/lib/editor/lib/jquery.flowchart.min.js"></script>

<script src="__ADMIN__/lib/editor/editormd.js"></script>
<script>


    content = $('#source').html();
    $("#append").val(content);//将需要转换的内容加到转换后展示容器的textarea隐藏标签中

    //转换开始,第一个参数是上面的div的id
    editormd.markdownToHTML("content-view", {
        htmlDecode: "style,script,iframe",  // you can filter tags decode
        emoji: true,
        taskList: true,
        tex: true,  // 默认不解析
        flowChart: true,  // 默认不解析
        sequenceDiagram: true,  // 默认不解析
        tocm: true,
    });

    $('pre code').each(function (i, block) {
        hljs.highlightBlock(block);
    });
</script>
{/block}

{block name="style"}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<link rel="stylesheet" href="__ADMIN__/lib/editor/css/editormd.preview.css">
<link rel="stylesheet" href="//highlightjs.org/static/demo/styles/gruvbox-dark.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
{/block}