{extend name="base:template"}

{block name="meta"}
<meta name="description" content="Muxi_k's Blog">
<meta name="keywords" content="muxi,muxik,muxi_k,muxik关于">
{/block}
{block name="title"}友人{/block}


{block name="content"}
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="down-content">
                                    <div class="content-view " id="content-view">
                                        <div class="links">
                                            <div class="link-me">
                                                <div class="link-title">
                                                    <strong>在那可以找到我?</strong>
                                                </div>
                                                <div class="link-body">
                                                    {foreach $connect as $key=>$vo}
                                                    <div class="link-item">
                                                        <a href="{$vo.link}" title="{$vo.description}" target="_blank">
                                                            <img src="{$vo.logo}" alt="消失">
                                                            <span style="color: rgb({:mt_rand(1,222)},{:mt_rand(1,155)},{:mt_rand(1,185)})">{$vo.title}</span>
                                                        </a>
                                                    </div>
                                                    {/foreach}
                                                </div>
                                            </div>
                                            <div class="link-friend">
                                                <div class="link-title">
                                                    <strong>如果相逢是一道风景!</strong>
                                                </div>
                                                <div class="link-body">
                                                    {foreach $link as $key=>$vo}
                                                    <div class="link-item">
                                                        <a href="{$vo.link}" title="{$vo.description}" target="_blank">
                                                            <img src="{$vo.logo}" alt="消失">
                                                            <span style="color: rgb({:mt_rand(1,255)},{:mt_rand(1,255)},{:mt_rand(1,255)})">{$vo.title}</span>
                                                        </a>
                                                    </div>
                                                    {/foreach}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>与我相逢？&nbsp;<a href="/about.html">点此查看友链申请说明！</a></span>
                            </div>
                        </div>
                        {include file="base:comment" name="page_id" value="2" comment="comment"}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="source" style="display: none"> {include file="source/about"}</div>
{/block}


{block name="style"}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


<link rel="stylesheet" href="__ADMIN__/lib/editor/css/editormd.preview.css">
<link rel="stylesheet" href="//highlightjs.org/static/demo/styles/gruvbox-dark.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
{/block}