{extend name="base/template"}


{block name="style"}
<link rel="stylesheet" href="__ADMIN__/lib/editor/css/editormd.css">
{/block}

{block name="title"}修改文章{/block}
{block name="content"}
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div id="editormd">
                <textarea style="display:none;">{$article.source}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">封面上传:</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" width="400" src="{$article.pic}">
                        <p id="demoText"></p>
                    </div>
                    <button type="button" class="layui-btn layui-btn-danger" id="test1"><i class="layui-icon"></i>上传图片
                    </button>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">标题:</label>
            <div class="layui-input-block">
                <input type="text" name="title" value="{$article.title}" required lay-verify="required"
                       placeholder="请输入标题" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述:</label>
            <div class="layui-input-block">
                <textarea name="description" value="{$article.description}" placeholder="请输入内容" class="layui-textarea">{$article.description}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签:</label>
            <div class="layui-input-block">
                <input type="text" name="tag" value="{$article.tag}" required lay-verify="required"
                       placeholder="请使用 ',' 分割"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类：</label>
            <div class="layui-input-block">
                <select name="category_id" lay-verify="required" lay-search>
                    {foreach $category as $key=>$vo}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否加密：</label>
            <div class="layui-input-block">
                <input type="checkbox" {if $article.lock eq 1} checked {/if} name="lock" value="1" lay-skin="switch"
                lay-filter="lock">
            </div>
        </div>

        <div class="layui-form-item" id="key" style="display: none">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-block">
                <input type="text" name="key" required placeholder="请输入文章密码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <input type="hidden" name="pic" id="pic" value="{$article.pic}">
        <input type="hidden" name="content" id="content">
        <input type="hidden" name="id" value="{$article.id}">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<script src="__ADMIN__/lib/editor/editormd.js"></script>
<script>
    var Editor;

    $(function () {
        Editor = editormd("editormd", {
            width: "100%",
            height: 690,
            syncScrolling: "single",
            zIndex: 99999999,
            path: '/static/admin/lib/editor/lib/'
        });
    });


    //Demo
    layui.use(['form', 'upload'], function () {
        var form = layui.form;
        let $ = layui.jquery
        let upload = layui.upload


        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/admin/article/upload' //改成您自己的上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {

                //如果上传失败
                if (res.code === 0) {
                    return layer.msg('上传失败');
                }

                //上传成功

                $("#pic").val(res.files.file)
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


        form.on('switch(lock)', function (data) {
            if (data.elem.checked) $("#key").show()
            else $("#key").hide()
        })


        //监听提交
        form.on('submit(formDemo)', function (data) {

            let info = data.field;
            info['content'] = Editor.getPreviewedHTML()
            info['source'] = Editor.getMarkdown()

            $.post('/admin/article/update', info, res => {
                if (res.code === 1) {
                    layer.msg(res.msg, {icon: 6, time: 1000})
                } else {
                    layer.msg(res.msg, {icon: 5, time: 1000})
                }
            })

            return false;
        });


    });
</script>
{/block}
